@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap');

:root {

    --primary-font: 'PT Serif', serif;
    --second-font: 'PT Sans', sans-serif;
    --primary-color: #F1CDB3;
    --text-second-color: #545454;
    --light: #F5F5F5;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

* 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {  
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#main {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.main-h1 {
    margin-bottom: 3rem;
}

.serif {
    font-family: var(--primary-font);
}

.no-serif {
    font-family: var(--second-font);
}

.primary-color {
    color: var(--primary-color);
}

.text-grey {
    color: var(--text-second-color);
}

.text-light {
    color: var(--light);
}

#navbarNavAltMarkup {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;    
}

.main-link {
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 0.7rem 2.3rem 0.7rem 2.3rem;    
}

h1 span {
    display:block;
}

h2 span {
    display:block;
}

.slogan {
    letter-spacing: 0.08rem;
}

div .main-content {
    height: 50vh;
    max-width: 45%;  
    position: relative;
    margin-top: 15%;
      
}

